#container{
    .present{
       .open{
        height: 40px;
        width: 120px;
        border: 1px solid rgb(98, 154, 238);
        background-color: white;
        color: rgb(86, 200, 253);
       }
    }
}